<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exploración Física</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- barra lateral -->
    <nav class="navbar navbar-dark bg-dark sticky-top mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">.......</a>
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">......</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>



                <div class="form-group col-md-12">
                    <label for="goniometria"><u>Goniometría</u></label>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="col">
                                <tr>
                                    <th scope="col">Rangos Normales</th>
                                    <th scope="col">Izquierdo</th>
                                    <th scope="col">Movimiento</th>
                                    <th scope="col">Derecha</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0° - 150°/170° </td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Flexión de hombro</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>

                                </tr>
                                <tr>
                                    <td>0° - 40°</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Extensión de hombro</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>0 - 160°/180°</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Abducción de hombro</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>0°- 30°</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Aducción de hombro</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>0° - 70° </td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Rotación externa de hombro</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>0° - 70° </td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Rotación interna de hombro</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>

                                <tr>
                                    <td>0° - 150°</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Flexión de codo</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>

                                </tr>
                                <tr>
                                    <td>0° (activa)
                                        10° (pasiva)</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Extensión de codo</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>

                                </tr>
                                <tr>
                                    <td>0° - 90°</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Supinación del antebrazo</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>

                                </tr>
                                <tr>
                                    <td>0° - 90°</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Pronación del antebrazo</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>

                                </tr>
                                <tr>
                                    <td>0° - 25°-30° </td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Desviación radial de muñeca</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>

                                </tr>
                                <tr>
                                    <td>0° - 30°-40°</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Desviación cubital de la muñeca</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>

                                </tr>
                                <tr>
                                    <td>0° - 50°/60° </td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Flexión de muñeca</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>

                                </tr>
                                <tr>
                                    <td>0° - 35°/60° </td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td>Extensión de muñeca</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>

                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <label class="form-group col-md-8" for="Fuerzamuscular"><u>Reflejos osteotendinosos</u></label>

            <div class="form-group row col-md-12 mx-auto d-flex justify-content-center">
                <div class="card-body col-md-8">
                    <table class="table table-bordered">
                        <thead class="col">
                            <tr>
                                <th scope="col">IZQ</th>
                                <th scope="col">ROT</th>
                                <th scope="col">DER</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control" placeholder=""></td>
                                <td>Bicipital</td>
                                <td><input type="text" class="form-control" placeholder=""></td>

                            </tr>
                            <tr>
                                <td><input type="text" class="form-control" placeholder=""></td>
                                <td>Tricipital</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control" placeholder=""></td>
                                <td>Braquioradial</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control" placeholder=""></td>
                                <td>Estiloradial</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="form-group col-md-12">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="col">
                                <tr>
                                    <th colspan="3" class="text-center">PRUEBAS Y EVALUACIONES COMPLEMENTARIAS</th>
                                </tr>
                                <tr>
                                    <th scope="col">Pruebas</th>
                                    <th scope="col">Resultados y análisis</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td><input type="text" class="form-control" placeholder=""></td>

                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <label class="form-group col-md-12" for="Fuerzamuscular"><u>Elevación de la postura:</u></label>

                <div class="form-group row col-md-12 mx-auto d-flex justify-content-center">
                    <div class="card-body col-md-6">
                        <table class="table table-bordered">
                            <thead class="col">
                                <th colspan="3" class="text-center">Vista Frontal</th>
                                <tr>
                                    <th scope="col">Alineación corporal</th>
                                    <th scope="col">Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cabeza</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Hombros</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Miembros Superiores</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Tronco</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Cadera</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Rodillas</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Pies</td>
                                    <td><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                            
                            </tbody>
    
                        </table>
                    </div> 
                    <div>
                        <img src="{{ url_for('static', filename='img/VistaFrontal.jpg') }}" class="img-fluid mt-5 mb-6"
                        alt="VistaFrontal">
                    </div>
                    
                </div>
            </div>

            <div class="form-group row col-md-12 mx-auto d-flex justify-content-center">
                <div class="card-body col-md-6">
                    <table class="table table-bordered">
                        <thead class="col">
                            <th colspan="3" class="text-center">Vista Lateral</th>
                            <tr>
                                <th scope="col">Alineación corporal</th>
                                <th scope="col">Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cabeza</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Hombros</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Miembros Superiores</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Tronco</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Cadera</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Rodillas</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Pies</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                        
                        </tbody>

                    </table>
                </div> 
                <div>
                    <img src="{{ url_for('static', filename='img/VistaLateral.jpg') }}" class="img-fluid mt-5 mb-6"
                    alt="VistaLateral">
                </div>
                
            </div>
            <div class="form-group row col-md-12 mx-auto d-flex justify-content-center">
                <div class="card-body col-md-6">
                    <table class="table table-bordered">
                        <thead class="col">
                            <th colspan="3" class="text-center">Vista Posterior</th>
                            <tr>
                                <th scope="col">Alineación corporal</th>
                                <th scope="col">Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cabeza</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Hombros</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Miembros Superiores</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Tronco</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Cadera</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Rodillas</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <td>Pies</td>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                        
                        </tbody>

                    </table>
                </div> 
                <div>
                    <img src="{{ url_for('static', filename='img/VistaPosterior.jpg') }}" class="img-fluid mt-5 mb-6"
                    alt="dolor">
                </div>
                
            </div>

      </div>

            <!-- aqui es el final -->
             
        </div>




        

    </div>
    </div>


</body>

</html>